_archive
_config_local.yml
_plugins/environment_variables.rb
_site
.gitignore
.jekyll-cache
.jekyll-metadata
.prettierignore
.prettierrc
.sass-cache
.vscode
.vscode/
*_scratch*
assets/img/cwl-thumb-but-has-hypothesis-on-side-cant-use.png
vendor
