{% comment %}
<link rel="apple-touch-icon" sizes="180x180" href={{ "/favicon/apple-touch-icon.png" | relative_url }}>
<link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon/favicon-32x32.png" | relative_url }}>
<link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon/favicon-16x16.png" | relative_url }}>
<link rel="manifest" href={{ "/favicon/site.webmanifest" | relative_url }}>
<link rel="mask-icon" href={{ "/favicon/safari-pinned-tab.svg" | relative_url }} color="#b91d47">
<link rel="shortcut icon" href={{ "/favicon/favicon.ico" | relative_url }}>
<meta name="msapplication-TileColor" content="#b91d47">
<meta name="msapplication-config" content={{ "/favicon/browserconfig.xml" | relative_url }}>
<meta name="theme-color" content="#ffffff">
{% endcomment %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-iKbFRxucmOHIcpWdX9NTZ5WETOPm0Goy0WmfyNcl52qSYtc2Buk0NCe6jU1sWWNB" crossorigin="anonymous">

