.portfolio-single {
  box-shadow: 0 1px 3px $box-rgba-3;
  box-sizing: border-box;
  margin: 20px;

  &:hover {
    background: $black;
    box-shadow: 0 1px 3px $box-rgba-3;
    opacity: 1;
    z-index: 1000;

    .mask {
      display: block;
      height: auto;
      opacity: 1;
      top: 91px;
      transition: all 0.2s ease-in-out;
      width: 220px;
      z-index: 2000;
    }
  }
}

.article-container {
  position: relative;
  z-index: 1;
}

.entry-title {
  font-size: 36px;
  line-height: 1;

  a {
    color: $grey3;
    text-decoration: none;

    &:hover {
      color: $grey5;
    }
  }
}

.entry-title.desc,
.view-project {
  background: $white;
  color: $red-dark;
  font-family: 'Glegoo', 'Helvetica', arial, serif;
  font-size: 14px;
  padding: 7px 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.entry-title.desc {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  line-height: 1.625;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  text-overflow: ellipsis;
  top: -57px;
  white-space: nowrap;
  width: 220px;
}

.entry-title.portfolio-item-title {
  display: block;
  position: absolute;
  top: 120px;
  }

.portfolio-single .mask {
  display: none;
  height: 213px;
  opacity: 0.4;
  overflow: visible;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  top: 110px;
  white-space: nowrap;
  width: auto;
  z-index: 9999999999999;
}

.mask:hover {
  display: block;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  position: static;
}

.portfolio-single:hover .entry-image-link img {
  opacity: 0.4;
  transition: all 0.4s ease-in-out;
}

.center-text {
  display: flex;
  justify-content: center;
  margin: 7px auto 0;
}


.entry-title-link {
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-category {
  display: flex;
  justify-content: center;

  a {
    box-sizing: border-box;
    color: $white;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    padding: 4px 10px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
