.project-single {
  .project-title--h1 {
    margin: 0 0 1.5rem;
  }

  .project-tagline {
    color: $greyc;
  }

  .project-container {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1.5rem;
  }

  .project-nav {
    background: $greyfa none repeat scroll 0% 0%;
    display: none;
    padding: 1rem;
  }

  .project-img-gallery {
    display: flex;
    flex-flow: row wrap;
    grid-gap: unset;
    justify-content: space-between;
    overflow: hidden;
  }

  .project-img {
    overflow: hidden;
    border: 0;
    height: auto;
    margin: 0;
    min-height: 450px;
    width: 48%;
    display: flex;
    width: 100%;

    img {
      border: 2px solid rebeccapurple;
      height: 100%;
      margin: 0 auto;
      max-height: 400px;
      max-width: 37vw;
      object-position: top center;
      width: 37vw;
    }
  }

  .project-img-desc {
    font-size: 1.25rem;
    text-align: center;
  }

  .project-desc {
    background: $white;
    font-size: 1rem;
    margin: 0 0 2rem;
  }
}
